
.root {
  flex-grow: 1;
  display: flex;
  background: #202124;
}

.rootcontainer {
  padding: 24px;
  flex-wrap: wrap;
  flex-grow: 1;
  display: flex;
  width: 100%;
}

.modalTitle {
  font-size: 24px;
  text-transform: capitalize;
  font-weight: 400;
  line-height: normal;
}
